version: '3.8'

services:
  mariadb:
    image: mariadb:10.11
    container_name: jeonse-db
    restart: always

    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Seoul
    command:
      - --innodb-buffer-pool-size=256M
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    volumes:
      - ./db_data:/var/lib/mysql
      - ./csv_data:/var/lib/mysql-files